html,
body {
  height: 100%;
}
nav{
  z-index: 1;
}
h1, h2, h3, h4, h5{
  font-family: Exo, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p, a{
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', Liberation Mono, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}
/* ------------------Home Page--------------------*/
.home{
  overflow: hidden;
  background-color: #000;
}
#background{
  background-color: transparent;
  position: absolute;
  left:-300px;
}
#telescope{
  top:100px;
  left:10px;
  position: absolute;
  background-color: transparent;
  border: none;
  transition: all .2s ease-in-out;
  z-index: 1;

}

#telescope:hover{
  transform: scale(1.05);
  -webkit-filter: drop-shadow(5px 5px 7px #ffffffa6);
  filter: drop-shadow(5px 5px 7px #ffffffa6);
}
.telescope-img{
  height:660px;
}
/*--------------------Today's---------------------------------*/
.todays-body{
  background-color: #000;
}
/* .todays-nav{
  display: none;
} */
.tel-img{
min-height:100%;
object-fit: cover;
}
/*------  https://stackoverflow.com/questions/8286550/transparent-hollow-or-cut-out-shape-in-html      -----*/
.overlay {
  /* this is flexible. you can change */
  --circle-radius: 45%;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  --mask: radial-gradient(circle farthest-side at center center, transparent var(--circle-radius), #000 calc(var(--circle-radius) + 2px) 100%) 50% 50%/100% 100% no-repeat;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  background: #000;
}

/*-------------*/

iframe[src=""]{
  display:none;
}
#pictureHD{
  display: none;
}
#videoURL{
  width: 100vw;
  height: 90vh;
}
.learn-more{
  position: fixed;
  bottom: 10px;
  z-index: 1;
}
.add-fav{
  position: fixed;
  bottom:10px;
  right:10px;
  z-index: 1;
  height:4rem;
}
.add-fav-modal{
  height:4rem;
  width: auto;
  z-index: 1;
}
#pictureModal{
  max-height:50em;
  width: auto;
  margin: 0 auto;
}
.btn-close-lm{
  height:3rem;
}

/*------------------------------Fav-----------------------------*/

.parent {
  position: relative;
}
.mainImg{
  max-width: 300px;
  max-height: 275px;
}
.cornerTL {
  position: absolute;
  top: 0%;
  left: 0%;
}
.cornerTR {
  position: absolute;
  top: 0%;
  transform: translate(-100%,0%) rotate(90deg);
}
.cornerBL{
  position: absolute;
  top: 100%;
  transform: translate(-100%, -100%) ;
  /* border: 3px blue solid; */
}
.cornerBR{
  position: absolute;
  top: 100%;
  left:0%;
  transform: translate(0%,-100%) rotate(-90deg);
  /* border: 3px palegreen solid; */
}
.corner, .more-info {
  max-width: 3em;
} 


/*-------------------------Past-------------------------------*/
/* .past-search{
overflow: hidden;
} */
/* #past-search-result{
  min-height:100vh;
  overflow-y: scroll;
} */
.past-card{
  background-color: black;
}
.past-info{
  background-color: white;
  border-radius: 25px;
}
.search-window{
  min-height:100vh;
  position: relative;
  top:40vh;
}

.past-picture, .past-picture-hd{
  max-height: 75vh;
}
.past-iframe{
  max-width: 50vh;
  max-height: 50vh;
}

/*--------------------Media Query---------------------*/

/*----------------Tablet landscape----------------*/

/*----------------Desktop landscape----------------*/
@media screen and (min-width: 768px) {
  #background{
    left: 0;
    object-fit: cover;
  }
  #telescope{
    top:150px;
    left: 300px;
  }
  
  .telescope-img{
    height:600px;
  }
  .book{
    z-index: 2;
    position: absolute;
    background-color: transparent;
    border: none;
    transition: all .2s ease-in-out;
    z-index: 1;
  }
  .favorites-btn{
    top:700px;
    left:700px;
  }
  .past-btn{
    top:800px;
    left:950px;
  }
  .book:hover{
    transform: scale(1.05);
    -webkit-filter: drop-shadow(5px 5px 7px #ffffffa6);
    filter: drop-shadow(5px 5px 7px #ffffffa6);
  }
}


/*----------------------------test-------------------------------*/
#test{
  display: grid;
  grid-template-rows:auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  margin: 2em;
  grid-auto-rows: auto;
}