html,
body {
  height: 100%;
  background-color: #000;
}
nav{
  z-index: 1;
}
h1, h2, h3, h4, h5{
  font-family: "Exo", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
  font-size: 5em;
  padding: 4rem;
  text-align: center;
}
p, a{
  font-family: "Consolas", Menlo, Monaco, 'Lucida Console', Liberation Mono, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}
/* ------------------Home Page--------------------*/
.homePage{
  overflow: hidden;
  background-color: #000;
}
#background{
  background-color: transparent;
  position: absolute;
  left:-300px;
}
#telescope{
  top:100px;
  left:10px;
  position: absolute;
  background-color: transparent;
  border: none;
  transition: all .2s ease-in-out;
  z-index: 1;

}

#telescope:hover{
  transform: scale(1.05);
  -webkit-filter: drop-shadow(5px 5px 7px #ffffffa6);
  filter: drop-shadow(5px 5px 7px #ffffffa6);
}
.telescope-img{
  height:600px;
}
/*--------------------Today's---------------------------------*/
.tel-img{
min-height:100vh;
object-fit: cover;
}
/*------  https://stackoverflow.com/questions/8286550/transparent-hollow-or-cut-out-shape-in-html      -----*/
.overlay {
  /* this is flexible. you can change */
  --circle-radius: 45%;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  --mask: radial-gradient(circle farthest-side at center center, transparent var(--circle-radius), #000 calc(var(--circle-radius) + 2px) 100%) 50% 50%/100% 100% no-repeat;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  background: #000;
}

/*-------------*/

#videoURL{
  width: 100vw;
  height: 90vh;
}
.videoURLModal{
width:50vw;
height:80vh;
}
.button-box-fixed {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 80%; /* Adjust the width as needed */
  justify-content: space-between;
  padding: 10px; /* Add padding to adjust spacing */
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

.add-fav-btn{
  position: relative;
  height:7rem;
}
.add-fav-modal{
  height:4rem;
  width: auto;
  z-index: 1;
}
#pictureModal{
  max-height:50em;
  width: auto;
  margin: 0 auto;
}
.btn-close-lm{
  height:3rem;
}

/*------------------------------Fav-----------------------------*/
iframe[src=""]{
  display:none;
}
img[src=""]{
  display:none;
}
#favs{
  background-color: #3a3a3a;
}
#favs h1 {
  color:rgb(228, 228, 228);
}
#favs .card{
  background-color: #b4b4b4;
}
.parent {
  position: relative;
}
.mainImg{
  max-width: 300px;
  max-height: 275px;
}


/*-------------------------Past-------------------------------*/
/* .past-search{
overflow: hidden;
} */
.search-window{
  min-height:100vh;
  padding-top:40vh;
  background-image: url("https://unsplash.com/photos/the-night-sky-is-filled-with-stars-Ef6iL87-vOA");
  background-color: #3a3a3a;
}

.search-window h1, span, .past-btn{
  color:rgb(236, 234, 234);
}
.past-info{
  background-color: white;
  border-radius: 25px;
}


.past-picture, .past-picture-hd{
  max-height: 75vh;
}
.past-iframe{
  max-width: 90vh;
  max-height: 80vh;
}

/*--------------------Media Query---------------------*/

/*----------------Tablet landscape----------------*/

/*----------------Desktop landscape----------------*/
@media screen and (min-width: 768px) {
  #background{
    left: 0;
    object-fit: cover;
  }
  #telescope{
    top:150px;
    left: 300px;
  }
  
  .telescope-img{
    height:550px;
  }
  .book{
    z-index: 2;
    position: absolute;
    background-color: transparent;
    border: none;
    transition: all .2s ease-in-out;
    z-index: 1;
  }
  .favorites-btn{
    top:660px;
    left:700px;
  }
  .past-btn{
    top:750px;
    left:950px;
  }
  .book:hover{
    transform: scale(1.05);
    -webkit-filter: drop-shadow(5px 5px 7px #ffffffa6);
    filter: drop-shadow(5px 5px 7px #ffffffa6);
  }
}


/*----------------------------test-------------------------------*/

.imgRestrict{
	max-width: 300px;
}
.modalImg{
  max-width: 50vw;
  max-height: 75vh;
}
 .galleryImg:hover{
transform: scale(1.1);
 }
 .galleryImg:active{
  transform: rotate(10deg) ;
 }
.galleryGrid{
  display: grid;
  grid-template-rows:auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3em;
  margin: 2em;
  grid-auto-rows: auto;
}
.grid-item{
  justify-self: center;
  align-self: center;
  display: block;
  padding:1rem;
  filter: drop-shadow(rgb(95, 95, 95) 0.5rem 0.5rem 1rem)
  }
